<!--
//===============================================================================
// Microsoft FastTrack for Azure
// Azure Active Directory B2C Authentication Samples
//===============================================================================
// Copyright © Microsoft Corporation.  All rights reserved.
// THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
// FITNESS FOR A PARTICULAR PURPOSE.
//===============================================================================
-->
@{
    ViewData["Title"] = "Call API 1";
}

<h2>Call API 1</h2>

@if (ViewBag.Values != null)
{
    <h3>API Values</h3>
    <ul>
        @foreach (string value in ViewBag.Values)
        {
            <li>@value</li>
        }
    </ul>
}
