<!--
//===============================================================================
// Microsoft FastTrack for Azure
// Azure Active Directory B2C Authentication Samples
//===============================================================================
// Copyright © Microsoft Corporation.  All rights reserved.
// THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
// FITNESS FOR A PARTICULAR PURPOSE.
//===============================================================================
-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Welcome to the Multi-Resource Refresh Token Azure AD B2C Sample Application</h3>
    <a asp-controller="Home" asp-action="CallAPI1" class="btn btn-lg btn-primary">Call API 1</a>
    &nbsp;
    <a asp-controller="Home" asp-action="CallAPI2" class="btn btn-lg btn-primary">Call API 2</a>
</div>
