<!--
//===============================================================================
// Microsoft FastTrack for Azure
// Azure Active Directory B2C Authentication Samples
//===============================================================================
// Copyright © Microsoft Corporation.  All rights reserved.
// THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY
// OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
// LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
// FITNESS FOR A PARTICULAR PURPOSE.
//===============================================================================
-->
<ul class="navbar-nav ml-auto">
    <li class="nav-item"><a id="lnkSignIn" href="javascript:void(0)">Sign in</a></li>
    <li class="navbar-text" id="txtGreeting" style="padding-top:0"></li>
    <li class="nav-item"><a id="lnkSignOut" href="javascript:void(0)" style="display:none">Sign out</a></li>
</ul>
